 <article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
        <p>{{content}}</p>
      </div>
      <div class="meta">
        by {{user.username}} on {{format_date created_at}}
        <p>{{comments.length}} {{format_plural "comment" comments.length}}</p>
      </div>
    </article>